

{% extends 'cabinetMedical/projeet.html' %} 

{% block content %}

      <h1>home</h1>

{% endblock  %}


<!-- <div class="container">
      <div class="row">
        <div class="col">
          total order : {{t_orders}}
        </div>
        <div class="col">
            arrived order : {{a_orders}}
          </div>
        <div class="col">
            lost order : {{l_orders}}
        </div>
        <div class="col">
            did_not_arrive order : {{d_orders}}
        </div>
      </div>
    </div> -->